{% extends 'base.html' %}

{% block content %}
    <div class="container" id="topHeading" style="padding-top: 50px;">
        <div class="text-center mt-5">
            <h1 class="text-light">Passfile</h1>
            <h3 class="text-light">Easy to use end-to-end encrypted file sharing</h3>
            <p class="lead text-light">Files are encrypted by your browser and are deleted after 24 hours.</p>
        </div>
    </div>
    <div class="container" style="text-align: center;padding-top: 50px;">
        <div id="fileSelectDiv"><button class="btn btn-primary" id="selectBtn" type="button" style="border-bottom-color: rgb(13, 110, 253);box-shadow: 0px 5px 5px 2px rgb(29,34,55);">Select Files</button><input type="file" id="fileInput" style="display: none;" multiple=""></div>
    </div>
    <div class="container" id="bottomView" style="text-align: center;padding-top: 50px;">
        <div>
            <p class="lead text-light" style="font-size: 15px;">We don't even make backups. Once it is deleted, it's gone forever.</p>
            <p class="lead text-light" style="font-size: 15px;">Password protected links creates end-to-end encryption. The server never sees raw files.</p>
        </div>
        <div style="border-bottom: 1px solid rgb(121,138,153) ;"></div>
        <div style="padding-top: 25px;">
            <form>
                <div class="input-group" style="display: inline-flex;min-width: 0;max-width: 600px;box-shadow: 0px 5px 5px 2px rgb(29,34,55);"><input class="form-control" type="text" placeholder="Enter Share Code"><button class="btn btn-primary" type="button">Submit</button></div>
            </form>
        </div>
    </div>
    {% include './components/password-modal.html' %}
    {% include './components/uploadFiles.html' %}
{% endblock %}